{% extends "base/layout.html" %}
{% load static %}

{% block content %}

<section class="header">
    <div class="container">
        {% if user.profile.neighborhood %}
        {% with uhood=user.profile.neighborhood %}

        <div class="container-fluid">
            <div class="my-4 w-100 row mx-0">
                <div class="p-2 col-md-3">
                    <div class="card-title pb-2 mb-1 border-bottom">
                        <h2>{{ uhood.name }}</h2>
                    </div>
                    <ul class="card-body py-0 m-0">
                        <p class="mb-0 px-1 my-3">
                            <span class="font-italictext-muted">Location</span>
                            <span>{{ uhood.location }}</span>
                        </p>
                        <p class="mb-0 px-1 my-3">
                            <span class="font-italic text-muted">Population</span> <span>{{ uhood.population }}</span>
                        </p>
                        <p class="mb-0 px-1 my-3">
                            <span class="font-italic text-muted">Businesses</span> <span>{{ uhood.businesses.count }}</span>
                        </p>
                        <p class="mb-0 px-1 my-3">
                            <span class="font-italic text-muted">Notifications</span>
                            <span> {{ uhood.notifications.count }}</span>
                        </p>
                    </ul>
                    <div class="d-flex flex-column card-footer">
                        <a class="mb-3" href="/leave/hood/{{ uhood.id }}">
                            <button class="btn btn-outline-danger px-4 badge-pill">Leave This Hood</button>
                        </a>
                        {% if user == uhood.admin %}
                        <a href="/leave/hood/{{ uhood.id }}">
                            <button class="btn btn-danger px-4 badge-pill">Delete Hood</button>
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="p-2 col-md-9">
                    <!-- *************************************** -->
                    <!-- Businesses Section -->
                    <!-- *************************************** -->
                    <div class="card-title pb-2 border-bottom d-flex align-items-center">
                        <h2 class="mr-3">Businesses</h2>
                        <h3 class="text-muted">
                            {{ uhood.businesses.count }}
                        </h3>
                        <button class="btn btn-outline-warning mr-2 ml-auto gbb">Back</button>
                        <button class="btn btn-outline-info abb">Add a Business</button>
                    </div>
                    <div class="">
                        <!-- list of businesses -->
                        <div class="lob row mx-0">
                            {% for bs in uhood.businesses.all %}
                            <div class="col-md-4 d-flex flex-column">
                                <div class="card-title pb-2 mb-1 border-bottom">
                                    <h2 class="text-lowercase">
                                        <span class="">
                                            {{ bs.name }}
                                        </span>
                                    </h2>
                                    <p class="small">{{ bs.owner.user_name }}</p>
                                </div>
                                <ul class="card-body py-0 m-0">
                                    <p class="mb-0 px-1 my-3">
                                        <span class="font-italictext-muted">Description</span>
                                        <span>{{ bs.description }}</span>
                                    </p>
                                    <p class="mb-0 px-1 my-3">
                                        <span class="font-italic text-muted">email</span>
                                        <span>{{ bs.email }}</span>
                                    </p>
                                    <p class="mb-0 px-1 my-3">
                                        <span class="font-italic text-muted">business link</span>
                                        <span>{{ bs.link }}</span>
                                    </p>
                                </ul>
                                {% if user == bs.owner %}
                                <a class="ml-auto" href="/delete/business/{{ bs.id }}">
                                    <button class="btn btn-outline-danger badge-pill px-4 py-0">delete</button>
                                </a>
                                {% endif %}
                            </div>

                            {% endfor %}
                        </div>
                        <!-- form for adding businesses -->
                        <div class="pbf d-none">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-control-sm" for="id_name">Name:</label>
                                    <input class="form-control" type="text" name="name" maxlength="100" required id="id_name" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-sm" for="id_description">Description:</label>
                                    <textarea class="form-control" name="description" cols="40" rows="4" required id="id_description">
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-sm" for="id_email">Email:</label>
                                    <input class="form-control" type="text" name="email" maxlength="50" required id="id_email" />
                                </div>
                                <div class="form-group">
                                    <label class="form-control-sm" for="id_link">Link:</label>
                                    <input class="form-control" type="text" name="link" maxlength="50" required id="id_link" />
                                </div>
                                <button class="btn btn-info" type="submit"> Post Business</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endwith %}
    {% else %}
    <div class="container-fluid d-flex">
        <div class="row mx-0 d-flex">
            <div class="col-md-9 d-flex flex-column mx-auto">
                <div class="card-title text-success">
                    <h1>Join a neighborhood</h1>
                </div>
                <div class="row mx-0">
                    {% for hood in hoods %}
                    <div class="card mb-3 col-md-4">
                        <div class="card-body">
                            <div class="card-title pb-2 border-bottom">
                                <h2>{{ hood.name }}</h2>
                            </div>
                            <p class="mb-0 px-1">
                                <span class="font-italictext-muted">Location</span>
                                <span>{{ hood.location }}</span>
                            </p>
                            <p class="mb-0 px-1">
                                <span class="font-italic text-muted">Population</span>
                                <span>{{ hood.population }}</span>
                            </p>
                            <p class="mb-0 px-1">
                                <span class="font-italic text-muted">Businesses</span>
                                <span>{{ hood.businesses.count }}</span>
                            </p>
                            <p class="mb-0 px-1">
                                <span class="font-italic text-muted">Notifications</span>
                                <span> {{ hood.notifications.count }}</span>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="/join/hood/{{ hood.id }}">
                                <button class="btn btn-outline-success px-4 badge-pill">Join This Hood</button>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 d-flex mx-auto flex-column">
                <div class="">
                    <h1>OR</h1>
                </div>
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                    <div class="card-title text-success">
                        <h1>Add a new neighborhood</h1>
                    </div>
                    <div class="form-group">
                        <label class="form-control-sm" for="id_location">Select A County</label>
                        <select class="form-control" name="location" required id="id_location">
                            <option value="Nairobi" selected>Nairobi</option>

                            <option value="Mandera">Mandera</option>

                            <option value="Meru">Meru</option>

                            <option value="Migori">Migori</option>

                            <option value="Mombasa">Mombasa</option>

                            <option value="Muranga">Muranga</option>

                            <option value="Nairobi">Nairobi</option>

                            <option value="Nakuru">Nakuru</option>

                            <option value="Nandi">Nandi</option>

                            <option value="Nyamira">Nyamira</option>

                            <option value="Nyeri">Nyeri</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-sm" for="id_name">Name of Neighborhood</label>
                        <input class="form-control" type="text" name="name" maxlength="50" required id="id_name" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-sm" for="id_occupants">Number of occupants</label>
                        <input class="form-control" type="number" name="occupants" required id="id_occupants" /></div>
                    <div class="form-group">
                        <label class="form-control-sm" for="id_address">Neighborhood address</label>
                        <input class="form-control" type="number" name="address" required id="id_address" /></div>
                    <button class="btn btn-outline-info" type="submit">Create Hood</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    </div>
</section>

{% endblock content %}